{% extends 'AdminBundle::Layout/base.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
<h1>Importing csv file for listing</h1>
{{ form_start(form) }}
    {{ form_row(form.csvfile) }}
    <input type="submit" name="Upload" value="Upload csv" />
{{ form_end(form) }}
{% endblock %}